.App {
    display: grid;
    grid-template-areas:
"h h"
"n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
 /* grid-gap: 10px;*/
    width: 1800px;
    margin: auto;
    text-align: center;
}

.header {
    grid-area: h;
  background-color: black;

}
.header img{
  width: 40px;
}
.nav {
    grid-area: n;
  background-color: royalblue;
}

.content {
    grid-area: c;
    background-color: bisque;
}
.main img{
    height: 300px;
    width: 1500px;
}
.avatar img{
    height: 80px;
    width: 80px;
}